.jumbotron {
    background-color: transparent;
    color: #ffffff;
    padding: 100px 25px;
}
.bg-grey {
    background-color: #f6f6f6;
}

.img-responsive {
    margin: 0 auto;
}

h5{
    padding: 5px 1px;
    color: white;
}

.modal-header-login, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.alert {
    width:30%;
    margin: 0 auto;
}

#infomsg {
    padding: 30px 50px;
}